﻿
@model  MVC.Models.PersonModel

@{
    ViewBag.Title = " Person Form";
    Html.EnableClientValidation(true);
}

@using (Html.BeginForm("Edit", "Person", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @*@Html.ValidationSummary(true)*@
    <form class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-sm-6">
                <div class="col-sm-4">
                    @Html.Label("First Name")
                </div>
                <div class="col-sm-8">
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-4">
                    @Html.Label("SurName")
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SurName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SurName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <div class="col-sm-4">
                    @Html.Label("Address")
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m=>m.Address)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-4">
                    @Html.Label("City")
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.Cityid, new SelectList(ViewBag.DropDown, "Value", "Text"), "Please Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Cityid)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div class="col-sm-4">
                    @Html.Label("Phone")
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Phoneno)
                    @Html.ValidationMessageFor(model => model.Phoneno)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div class="col-sm-4">
                    @Html.Label("Email")
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.ValidationMessage("EmailError")
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.Label("Gender")
                @Html.RadioButtonFor(model => model.Gender, "Male")
                @Html.Label("Male")
                @Html.RadioButtonFor(model => model.Gender, "Female")
                @Html.Label("Female")
                @Html.ValidationMessageFor(m => m.Gender)
            </div>
            <div class="col-sm-6 col-sm-offset-6 ">

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.Label("Hobbies")
                @Html.ListBoxFor(model => model.Hobbieslist, new SelectList(ViewBag.List, "Value", "Text"), new { @class = "form-control" })
               @Html.ValidationMessageFor(m=>m.Hobbieslist)
            </div>
            <div class="col-sm-6 col-sm-offset-6">

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <input type="submit" value="Insert" class="btn btn-primary" />
            </div>
            <div class="col-sm-6 col-sm-offset-6">

            </div>
        </div>
    </form>
}



