﻿@model MVC.Models.HomeModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Person Details";
}
@using (Html.BeginForm("Index", "Person", FormMethod.Get, new { @class="form-inline" }))
{
    <br />
    <p>
        Find by name: @Html.TextBox("SearchString", Model.CurrentFilter, new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
        @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
    </p>
}

<h2>Preview</h2>
<table class="table table-condensed table-striped">
    <tr>
        <th>@Html.ActionLink("First Name", "Index", new { sortOrder = Model.NameSortParm, currentFilter = Model.CurrentFilter })</th>
        <th>Sur Name</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>City</th>
        <th>Hobby</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Persons)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.SurName</td>
            <td>@item.Address</td>
            <td>@item.Gender</td>
            <td>@item.Phoneno</td>
            <td>@item.Email</td>
            <td>@item.City</td>
            <td>
                @string.Join(", ", item.Hobbies)
            </td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</td>
        </tr>
    }
</table>
<br />
Page @(Model.Persons.PageCount < Model.Persons.PageNumber ? 0 : Model.Persons.PageNumber) of @Model.Persons.PageCount

@Html.PagedListPager(Model.Persons, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = Model.CurrentFilter }))

